body
{
	display:Block;
	background:gray;
	padding:5%;
	text-align:center;
	margin:5%;
} /*body*/
p
{
	background:Red;
	padding:5%;
	font-family:Cursive;
	margin:5%;
	border: double yellow;
	color:black;
} /*p*/
h1
{
	background:purple;
	padding:5%;
	text-align:center;
	font-family:cursive;
	margin:5%;
	color:orange;
	border: double Red;
}
img
{
	margin:auto;
} /*img*/
