body
{
	background:;
	padding:;
	text-align:;
	margin:;
} /*body*/
p
{
	background:;
	padding:;
	text-align:;
	margin:;
} /*p*/
h1
{
	background:;
	padding:;
	text-align:;
	margin:;
}