body
{
	background:grey;
	margin:8%;
	border: dotted pink;

} /*body*/
p
{
	color:turquoise;
	background:purple;
	text-align:center;
	border: double yellow;
} /*p*/
h2
{
	text-align:center;
	background:pink;
	border: double yellow;
} /*h2*/
h1
{
	text-align:center;
	border:double red;
	font-family:cursive;
	background:pink;
}
img
{
	display:Block;
	margin:auto;
}